<!doctype html>
<html lang=''>
<head>

<script src="{{request.static_url('tbuddy:static/js/jquery-2.1.3.min.js')}}"></script>
<script src="{{request.static_url('tbuddy:static/js/stub.js')}}"></script>
<script src="{{request.static_url('tbuddy:static/js/loadingScreen.js')}}"></script>
<link rel="stylesheet" href="{{request.static_url('tbuddy:static/css/stub.css')}}" />

</head>
<!-- 
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
</div> -->

<div id="content">
    <h2>This is our page title</h2>
    <p>Lorem ipsum dolor sit amet.</p>
    <button type="button">Get me some data</button>
    <div id="responseBox"></div>
</div>




